.dashboard {
    display: flex;
    flex-wrap: wrap;
    border: 1px rgb(255, 255, 255) solid;
    border-radius: 10px;
    min-width: 80%;
    max-width: 80%;
    gap: 50px;
    padding: 50px;
    background: rgb(34,121,195);
    background: linear-gradient(4deg, rgba(34,121,195,1) 6%, rgba(255,255,255,1) 71%);
}

.dashboard-card {
    background: rgb(9,9,121);
    background: radial-gradient(circle, rgba(9,9,121,1) 12%, rgba(0,212,255,1) 100%);
    padding: 20px;
    border-radius: 10px;
    flex: 1 1 25%;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    gap: 50px;
}
.dashboard-card:hover {
    background: rgb(34,193,195);
    background: linear-gradient(0deg, rgba(34,193,195,1) 0%, rgba(253,187,45,1) 100%);
}
.title-icon {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.dashboard-icon {
    font-size: 30px;
}
.dashboard-card-body {
    color: var(--light-color);
}